
# Database connection string
DB_CONNECTION_STRING=Host=db;Port=5432;Database=storeapi_db;Username=postgres;Password=sifra123
# Postgres credentials 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sifra123
POSTGRES_DB=storeapi_db

# PGAdmin credentials
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin